@keyframes rotation {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  border: 1px solid red;
  animation-name: rotation;
  animation-duration: 20s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite;
}