.page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header__title {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

/* End of header */

/* Main */
  
  /* discription */
  
.two-columns__brief {
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

  
.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 30px 0 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/* digits */

.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  color: white;
}