.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /* выше создали флекс контейнер для прижатия подвала */
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  position: absolute;
  display: block;
}

/* ниже установили позиционирование для логотипа в header */
.logo_place_header {
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  max-width: 730px;
}

/* ниже установили позиционирование для заголовка в header */
.header__title_place_header {
  align-self: center;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  max-width: 388px;
}

/* ниже установили позиционирование для подзаголовка в header */
.header__subtitle_place_header {
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__main-illustration {
  display: block;
  position: absolute;
  max-height: 608px;
  max-width: 765px;
}

.header__main-illustration_place_header {
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* TODO разобраться с высотой синего квадрата при высоте header меньше 632px */

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
}

.header__square-pic_place_header {
  top: 64px;
  right: 0;
  z-index: 0;
}

/* End of header */

/* Main */

.content_margin {
  margin-top: 100px;
}

/* discription */

.two-columns {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  align-self: flex-start;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 30px 0 0;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/* digits */

.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 20px auto 0;
  text-align: center;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}